/* CSS By: Kamiah Gardner */
/* Color Palette
KhakiGreen: #735B30
Mustard: #AF791C
GreyKhaki: #BFA38A
DustyPink:#BF705E
ChocolateBrown: #733122
DeepBrown: #40120E
Purple: #591B43
*/ 

/* Global (base) MOBILE FIRST */

body {
    background-color: #bfa38a;
}